{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %} 
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.username.label() }}
        {{ form.username(required=True) }}
        {{ form.password.label() }}
        {{ form.password(type="password", required=True) }}
        {{ form.confirm_password.label() }}
        {{ form.confirm_password(type="password", required=True) }}
        {{ form.submit() }}
    </form>

{% endblock %}